{% set characterStats = character.stats %}

<table>
    <tbody>
    <tr>
        <td colspan="2">{{ character.name }}</td>
    </tr>
    <tr>
        <td>LVL</td>
        <td title="Next level {{ character.exp }}/{{ character.nextLvlExp }}">{{ character.lvl }}</td>
    </tr>
    <tr>
        <td>HP</td>
        <td>{% if characterStats.currentHealth == 0 %}DEAD{% else %}{{ characterStats.currentHealth }}/{{ characterStats.maxHealth }}{% endif %}</td>
    </tr>
    <tr>
        <td>Attack</td>
        <td>{{ characterStats.attack }}</td>
    </tr>
    <tr>
        <td>Defence</td>
        <td>{{ characterStats.defence }}</td>
    </tr>
    </tbody>
</table>
