<table>
    <tbody>
    <tr>
        <td colspan="2">{{ character.name }}</td>
    </tr>
    <tr>
        <td>HP</td>
        <td>{{ character.stats.currentHealth }}/{{ character.stats.maxHealth }}</td>
    </tr>
    <tr>
        <td>Attack</td>
        <td>{{ character.stats.attack }}</td>
    </tr>
    <tr>
        <td>Defence</td>
        <td>{{ character.stats.defence }}</td>
    </tr>
    </tbody>
</table>
