{% extends "main-template.html.twig" %}

{% block header %}
    <style>
        .colHeadline {
            font-size: 25px;
        }
        td {
            border: 1px solid black;
        }
    </style>
    <script>
        function stopCrafting() {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\Craft\\ToggleCraftMenu::ACTION_NAME') }}', {status: 'off'});
        }

        function craftRecipe(recipeId, resultingName) {
            if (!confirm('Craft "' + resultingName + '"?')) {
                return;
            }

            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\Craft\\CraftItem::ACTION_NAME') }}', {recipeId: recipeId});
        }
    </script>
{% endblock %}

{% block content %}
    <table>
        <tbody>
        <tr>
            <td class="colHeadline">Recipes</td>
            <td class="colHeadline">Resources</td>
        </tr>
        <tr>
            <td>
                <table>
                    <tbody>
                    {% for recipe in recipes %}
                        <tr>
                            <td onclick="craftRecipe('{{ recipe.id.value }}', '{{ itemName(recipe.result.item) }}')">
                                <b>{{ itemName(recipe.result.item) }}</b>: {% for itemReqs in recipe.requiredItems %}{{ itemName(itemReqs.item) }}({{ itemReqs.amount }}) {% endfor %}
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </td>
            <td>
                <table>
                    <tbody>
                    <tr>
                        {% for slot in resources %}
                            <td>
                                {{ slot.item.name }}({{ slot.amountOfItems }})
                            </td>
                        {% endfor %}
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <br/>
    <button onclick="stopCrafting()">Close</button>
{% endblock %}
