{% extends "main-template.html.twig" %}

{% block header %}
    <style>
        td {
            border: 1px solid gray;
            padding: 5px;
            vertical-align: baseline;
        }
    </style>
    <script>
        function equipItem(inventorySlotPosition) {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\EquipItem::ACTION_NAME') }}', {fromSlot: inventorySlotPosition});
        }

        function enterDungeon() {
            performAction('{{ constant('TemirkhanN\\Venture\\Game\\Action\\EnterDungeon::ACTION_NAME') }}');
        }
    </script>
{% endblock %}
{% block content %}
    <h1>{{ player.name }}</h1>
    <table>
        <tbody>
        <tr>
            <td>
                {{ include('character-stats.html.twig', {character: player}, with_context=false) }}
            </td>
            <td>
                {{ include('player/inventory.html.twig', {player: player}, with_context=false) }}
            </td>
            <td>
                {{ include('player/actions.html.twig', {player: player}, with_context=false) }}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}
